html, body {
    height: 100%;
    font-family: 'Alike', serif;
}

body {
    background-image: url("../images/zelda-background.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

.answer-button {
    width: 100%;
    height: 3em;
    background-color: white;
    align-content: center;
    font-size: 1.2em;
}

@font-face {
    font-family: triforceFont;
    src: url("Triforce.ttf");
}

h1 {
    font-family: triforceFont;
    font-weight: bold;
}

.container-table {
    display: table;
    height: 100%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.col {
    height: 80%;
}

.row {
    text-align: center;
    justify-content: center;
}

.button-div {
    width: 100%;
}

.correct {
    font-size: 2em;
    color: darkgreen;
}

.incorrect {
    font-size: 2em;
    color: darkred;
}

.missed {
    font-size: 2em;
    color: darkmagenta;
}

#start-game {
    width: 100%;
    height: 3em;
    background-color: white;
    align-content: center;
    font-size: 1.2em;
    width: 80%;
}

#wrapper {
    background-image: url("../images/zelda-div-background.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

#game, #content {
    background: none;
    width: 100%;
}

#content {
    width: 80%;
}