html, body {
    background-image: url("../images/zelda-bg.jpg");
    background-repeat: repeat;
    height: 100%;
}

h1 {
    width: 100%;
}

button {
    width: 50%;
    height: 3em;
}

.container-table {
    display: table;
    height: 100%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.col {
    height: 90%;
}